html, body {
    height: 100%;
}

/*--------------- HEADER ---------------*/
.aboutNav {
    border-bottom: 3px solid #F5DF4D;;
    padding-bottom: 3px;
}

.header a {
    color: black;
}

.header a:hover {
    color: #939597;
}

.slice, .slice .top, .slice .bottom, .slice .bottom span, .slice .top span, .slice:hover .top, .slice:hover .bottom, .slice:hover, .slice:focus, .slice:active, .slice:before  {
    color: black;
}

.slice {
    border: 2px solid black;
}

.slice:before {
    background-color: black;
}

/*--------------- CONTENT ---------------*/
.about-grid {
    display: flex;
    flex-direction: row;
    padding: 10vh 15% 10vh 15%;

}

@media (max-width: 1400px) {
    .about-grid {
        padding: 5vh 15% 5vh 15%;
        flex-direction: column;
        width: 100%;
    }
}

.contentLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLeft img {
    max-width: 458px;
    min-width: 350px;
}

.contentRight {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    justify-content: center;
    line-height: 30px;
}

.contentRight img {
    max-width: 350px;
    min-width: 300px;
}

.contentRight p {
    margin-bottom: 5px;
}

.sub {
    color: #939597;
    font-weight: 500;
}

.indent {
    text-indent: 2em;
}

.quote:before {
    content: "\201C";
    padding-right: 10px;
    font-size: 2.5em;
    color: #FADE11;
    font-family: 'Times New Roman', Times, serif;
}

.divButton {
    margin-top: 2vh;
}

@media (max-width: 1400px) {
    .contentLeft {
        margin-bottom: 20px;
    }
    .contentRight {
        margin-left: 0;
    }
    .contentRight img {
        margin-bottom: 20px;
    }
    footer {
        margin-top: 0;
    }
}