/*GRID LAYOUT*/

body, html {
    min-height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

.gridLayout {
    Background-color: white;
    Display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "profileIMG about"
    "footer footer";
    column-gap: 50px;
    row-gap: 0;
    padding: 0;
    width: 100%;
    height: 88vh;
    position: relative;
    margin-top: 5vh;
}

@media (max-width: 980px) {
    .gridLayout { 
        grid-template-columns: 1fr;
        grid-gap: 0;
        grid-template-areas: 
        "profileIMG"
        "about"
        "footer";
        padding: 0;
        text-align: center;
     }

}

/*header*/
.aboutNav {
    border-bottom: 3px solid #F5DF4D;;
    padding-bottom: 3px;
}

.header a {
    color: black;
}

.header a:hover {
    color: #939597;
}

.slice, .slice .top, .slice .bottom, .slice .bottom span, .slice .top span, .slice:hover .top, .slice:hover .bottom, .slice:hover, .slice:focus, .slice:active, .slice:before  {
    color: black;
}

.slice {
    border: 2px solid black;
}

.slice:before {
    background-color: black;
}

.profileIMG {
    grid-area: profileIMG;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
}

.profileIMG img {
    max-height: calc(100px + 30vh);
}

@media (max-width: 980px) {
    .profileIMG {
        padding: 0;
        margin-top: 5vh;
        margin-left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .profileIMG img {
        margin-top: 0;
    }

    .about {
        padding: 0;
        margin-bottom: 30vh;
        margin-right: 15% !important;
        margin-left: 15% !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about img {
        width: 300px;
    }

    .button {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.about {
    grid-area: about;
    margin-right: 20%;
    margin-left: 30px;
}

.about img {
    max-width: 400px ;
    margin-left: 20px;
    margin-top: 5vh;
}

.sub, .description {
    margin-top: 20px;
}

.sub {
color: #939597;
line-height: 30px;
}

.description {
    line-height: calc(15px + 1.5vh);
}

.quotation {
    color: #F5DF4D;
    font-weight: bolder;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -30px;
}

footer {
    position: absolute;
    bottom: 0; 
}


@media (max-height:890px) {
    footer {
        position: relative;
    }
   
    .profileIMG img {
        min-height: calc(200px + 25vh);
        margin-top: 10vh;
    }
}