body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    position: relative;
}

p {
    line-height: 1.8em;
    font-size: 0.9em;
}

h2 {
    text-transform: none;
    font-size: calc(20px + 0.3vw);
    margin-bottom: -10px;
}

.aboutNav {
    border-bottom: 3px solid #F5DF4D;;
    padding-bottom: 3px;
}

.header a {
    color: #333;
}

.slice, .slice .top, .slice .bottom, .slice .bottom span, .slice .top span, .slice:hover .top, .slice:hover .bottom, .slice:hover, .slice:focus, .slice:active, .slice:before  {
    color: #333;
}

.slice {
    border: 2px solid #333;
}

.slice:before {
    background-color: #333;
}

.header a:hover {
    color: #939597;
}
/*--------------- CONTENT ---------------*/
.about-grid {
    display: flex;
    flex-direction: row;
    padding: 5vh 20% 0vh 20%;
    width: 100%;

}

@media (max-width: 1400px) {
    .about-grid {
        padding: 5vh 15% 5vh 15%;
        flex-direction: column;
    }
}

.contentLeft {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentLeft img {
    max-width: 430px;
    min-width: 430px;
}

.contentRight {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    justify-content: center;
    line-height: 30px;
}

.contentRight img {
    max-width: 350px;
    min-width: 350px;
}

.contentRight p {
    margin-bottom: 5px;
}

.sub {
    color: #6F6F6F;
    font-weight: 500;
}

.quote {
    position: relative;
}

.quote:before {
    content: "\201C";
    font-size: 2.5em;
    color: #FADE11;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: -3vh;
}

.link {
    margin-top: 2vh;
}

@media (max-width: 1500px) {
    .contentLeft {
        margin-bottom: 20px;
    }
    .contentRight {
        margin-left: 0;
        font: 20px;
    }
    .contentRight img {
        margin-bottom: 20px;
    }
}


@media (max-width: 980px) {
    .header {
        height: 150px; }
    ul {
        float: none;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 0;

    }
    #navigation {
        float: none;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }

 @media (min-height: 1400px) { 
    footer {
        position: absolute;
        bottom: 0; }
}

