* {
    box-sizing: border-box;
}

body, html {
    min-height: 100%;
    width: 100%;
    margin:0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    font-size: calc(15px + 0.2vw);
    background-color: white;
    position: relative;
}

/*Text*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: calc(20px + 1.5vw);
    font-weight: normal;
    color: black;
    margin-bottom: 20px;
}
h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: 1em;
    text-transform: uppercase;
    white-space: nowrap;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h3, h4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}

h5 {
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

/*GRID LAYOUT*/
.gridLayout {
    Background-color: white;
    Display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    grid-template-areas: 
    "header header header"
    "approach approach approach"
    "work work work"
    "profile aboutMe aboutMe"
    "footer footer footer";
    padding-left: 15%;
    padding-right: 15%;
}

@media (max-width: 980px) {
    .gridLayout {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        grid-template-areas: 
        "header header"
        "approach approach"
        "work work"
        "profile profile"
        "aboutMe aboutMe"
        "footer footer";
        text-align: center;
    }
  }

/*Hero Section*/
.heroImage {
    grid-area: header;
    background-image: url("../Images/HeroImage.png");
    height: calc(462px + 35vw);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroText {
    text-align: left;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0px;
}
.heroText div {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    font-size: calc(15px + 0.3vw);
    color: #939597;
    text-transform: uppercase;
    white-space: nowrap;
}
.heroText p {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6vw;
    font-weight: normal;
    color: #939597;
    white-space: nowrap;
}
#image {
    position: absolute;
    padding: 0%;
    top: 55%;
    left: 21%;
    width: 15vw;
    height: auto;
}

/*Navigation*/
.header {
    grid-area: header;
    background-color: rgba(0,0,0,0.4);
    width: 100%;
    height: 100px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.15em;
}

  ul { 
    float: right;
    padding-top: 5px;
    padding-right: 5%; 
    list-style: none; 
    display: table;
    width: 10%;
    text-align: center;
  }
  li { 
    display: table-cell; 
    position: relative; 
    padding: 0.75em 1em;
    font-size: 1em;
    color: white;
  }
  
a {
    text-decoration: none;
    color: white;
    display: inline-block;
    position: relative;
  }

 a:hover {
     color: #F5DF4D;
 } 

 @media (max-width: 980px) {
    .header {
        height: 150px; }
    ul {
        float: none;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding-right: 0;

    }
    #navigation {
        float: none;
        position: relative;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
  }

/*LOGO sliced button*/
#navigation {
    font-family: 'Times New Roman', Times, serif;
    float: left;
    font-size: 0.65em;
    padding-left: 5%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    width: 400px;
    display: table;
    text-align: center;
}
.logo {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

.slice {
    padding: 1.2rem 2.5rem;
    border: 2px solid #F5DF4D;
    text-decoration: none;
    color: white;
    border-radius: 0rem;
    letter-spacing: 0.3rem;
    position: relative;
    -webkit-transition: all 100ms cubic-bezier(0.890,0,0.014,1);/*older webkit*/
    -webkit-transition: all 100ms cubic-bezier(0.890, 0, 0.170,0.140, 1.225);
    -moz-transition: all 100ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
    -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
    transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */ 
}

.slice .top {
    position: relative;
    height: 6px;
    text-decoration: none;
    color: white;
    overflow: hidden;
    top: 0;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
    -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
      
    -webkit-transition-delay:0.35s;     
    -moz-transition-delay: 0.35s; 
    -ms-transition-delay: 0.35s;     
    -o-transition-delay: 0.35s;     
    transition-delay: 0.35s;
}
 
.slice .bottom {
    position: relative;
    color: white;
    height: 6px;
    overflow: hidden;
    text-decoration: none;
    bottom: 0;
    -webkit-transition: all 300ms cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
    -webkit-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -moz-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -o-transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    transition: all 300ms cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
    
    -webkit-transition-timing-function: cubic-bezier(1.000, 0, 0.025, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -moz-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    -o-transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); 
    transition-timing-function: cubic-bezier(1.000, -0.055, 0.025, 1.040); /* custom */
      
    -webkit-transition-delay:0.35s;     
    -moz-transition-delay: 0.35s; 
    -ms-transition-delay: 0.35s;     
    -o-transition-delay: 0.35s;     
    transition-delay: 0.35s;
}

.slice .bottom span {
    top: -6px;
    position: absolute;
    text-decoration: none;
    left: 0;
    color: white;
  }

.slice:hover .top {
    top: -5px;
    -webkit-transition-delay:0.35s;     
    -moz-transition-delay: 0.35s; 
    -ms-transition-delay: 0.35s;     
    -o-transition-delay: 0.35s;     
    transition-delay: 0.35s; 
    color: white;
}

.slice:hover .bottom {
    bottom: -5px;
    -webkit-transition-delay:0.35s;     
    -moz-transition-delay: 0.35s; 
    -ms-transition-delay: 0.35s;     
    -o-transition-delay: 0.35s;     
    transition-delay: 0.35s; 
    color: white;
}
.slice:hover, .slice:focus, .slice:active {
    margin-left: 10px;
    color: white;
}

.slice:before {
	content: '';
	height: 1px;
	width: 60px;
	background-color: #F5DF4D;
	position: absolute;
	margin-top: 6px;
    right: -35px;
    color: white;
  
  -webkit-transition: all 1000ms cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition: all 1000ms cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */

  -webkit-transition-timing-function: cubic-bezier(0.890, 0, 0.140, 1); /* older webkit */
  -webkit-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -moz-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  -o-transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); 
  transition-timing-function: cubic-bezier(0.890, -0.170, 0.140, 1.225); /* custom */
}
.slice:hover:before{
    width: 130%;
    color: white;
}

/* MY APPROACH */
.approach {
    grid-area: approach;
    text-align: center;
    padding-top: 20px;
 
}

.approach p {
    line-height: 30px;
}

/* MY WORK */
#work {
    grid-area: work;
    color: #939597;
}

#blm {
    color: black;
    margin-top: 0;
    padding: 0;
    line-height: 0;
}

#blmIMG {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blm {
    width: 100%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;

}

.blm img {
    max-width: 100%;
    transition: all 0.3s;
    display: block;
    width: 100%;
    transform: scale(1);
    justify-content: center;
}

.blm:hover img {
    transform: scale(1.1);
}

#work p {
    color: #939597;
    line-height: 0%;
}

/* ABOUT ME */
.profile {
    grid-area: profile;
}

.profileImage {
    display: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%;
    min-width: 200px;
}

.aboutMe {
    grid-area: aboutMe;
    position: relative;
    padding-top: 10%;
    padding-bottom: 10%;
}

.aboutMeSummary {
    position: relative;
    height: fit-content;
}

.divButton {
    position: relative;
    height: fit-content;
    margin-top: 30px;
}

.button {
    cursor: pointer;
    border: 2px solid black;
    background-color: transparent;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    
}

.button:hover {
    border: transparent;
    font-weight: bold;
    background-color: #f5df4d;
}

@media (max-width: 980px) {
    .aboutMe {
        padding-top: 0;
        margin-top: -30px;
    }
}

/*------------------------------- FOOTER -------------------------------*/
footer {
    grid-area: footer;
    box-sizing: border-box;
    height: 150px;
    width: 100%;
    position: relative;
    background-color: #2C2C2C;
}

.row {
    padding-right: 5%;
    position: absolute;
    flex-direction: column;
    height: 150px;
    width: 100%;
    background-color: #2C2C2C;
    color: white;
    bottom: 0;
    left: 0;
    justify-content: center;
  }

.contact {
    position: absolute;
    margin-left: 5%;
    margin-top: 35px;
    line-height: 30px;
} 

.contact p {
    color: #A5A5A5;
    line-height: 10px;
}

.copyright {
    font-size: 0.75em;
    padding-top: 10px;
    
}

.linkedIn {
    border-radius: 10px;
    margin-top: -37px
    
}

.linkedIn:hover {
    filter: brightness(120%);
    
}

.resume {
    position: absolute;
    margin-top: 25px;
}

.divider {
    border-left: #939597 solid 2px;
    margin-top: 10px;
    height: 50px;
}

@media (max-width: 980px) {
    .row {
       height: 250px;
       width: 100%;
       margin-top: 100px;
       position: relative;
       bottom: 0;
       left: 0;
       background-color: #2C2C2C;
    }

    .row ul {
        padding: 0;
    }

    .contact {
        position: relative;
        text-align: center;
        align-content: center;
        justify-content: center;
        line-height: 30px;
        bottom: 10px;
    }
    .copyright {
        position: relative;
        padding: 0;
    }
  }
